*{
  padding: 0;
  margin: 0;
}
body{
  background-image: url('backdround.png');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position-y: top;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
section{
  margin-top: 30px;
}

section ul{
  list-style: none;
  padding: 10px;
  transition: 0.5s;
}

section ul li {
  margin-bottom: 20px;
  background-color: rgb(25, 3, 84);
  color: rgb(250, 182, 182);
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 55px;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: 0.3s;

}

section ul:hover li{
opacity: 0;
}

section ul li:hover{
transform: scale(1.2);
background-color: rgb(213, 6, 130);
color: white;
opacity: 1;
}

ul li::after{
  content: attr(data-text);
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%,-10%);
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0;
  pointer-events: none;
  letter-spacing: 25px;
  transition: 0.8s;
}

ul li:hover:after{
  opacity: 0.7;
  letter-spacing:0px;
}
